!! Colors
#define UT_burntorange  #bf5700
#define UT_gray         #333f48
#define UT_white        #ffffff
#define UT_lightorange  #f8971f
#define UT_yellow       #ffd600
#define UT_lime         #a6cd57
#define UT_green        #579d42
#define UT_cyan         #00a9b7
#define UT_blue         #005f86
#define UT_lightgray    #9cadb7
#define UT_cream        #d6d2c4


*foreground:            UT_cream
*background:            UT_gray
*cursorColor:           UT_burntorange

! black dark/light
*color0:                UT_gray
*color8:                UT_blue

! red dark/light
*color1:                UT_burntorange
*color9:                UT_lightorange

! green dark/light
*color2:                UT_green
*color10:               UT_lime

! yellow dark/light
*color3:                UT_yellow
*color11:               UT_cream

! blue dark/light
*color4:                UT_blue
*color12:               UT_cyan

!! magenta dark/light
*color5:                UT_burntorange
*color13:               UT_orange

! cyan dark/light
*color6:                UT_cyan
*color14:               UT_lightgray

! white dark/light
*color7:                UT_cream
*color15:               UT_white

!! URxvt Appearance
URxvt.font:				xft:mono:medium:size=12
*.boldFont:             xft:mono:style=Bold:size=12
*.italicFont:           xft:mono:style=Italic:size=12
*.boldItalicFont:       xft:mono:style=Bold Italic:size=12
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 10
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
